.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}
.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}
.bg-semi-transparent {
  background-color: rgba(0, 0, 0, 0.472);
}
