html {
  scroll-behavior: smooth;
}

.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}
.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}
.bg-semi-transparent {
  background-color: rgba(0, 0, 0, 0.472);
}
a {
  color: #b6b6b6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Heebo", sans-serif;
}
p {
  font-family: "Neuton", serif;
}
